.DS_Store
/wirkshop_ongen/firmware/rasentoten_shoryo_hs_ws.X/dist/
/wirkshop_ongen/firmware/rasentoten_shoryo_hs_ws.X/build/
/enoshima_ongen/rasentoten/firmware/rasentoten_enoshima_station.X/build/
/enoshima_ongen/rasentoten/firmware/rasentoten_enoshima_station.X/dist/